
header.banner {
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--xp-header-height);
    z-index: 1;
}

header.banner a {
    color: #212121;
    transition: color 0.3s ease-in;
    text-decoration: none;
}

header ul, header li {
    list-style-type: none;
}

header.banner a:hover {
    color: #e0e0e0;
}

a.brand {
    font-family: comfortoaa;
    margin-left: 5vh;
    font-size: 20px;
    position: absolute;
    left: 0;
}

@media only screen and (max-width: 600px) {
    a.brand {
        margin-left: unset;
        position: unset;
        left: unset;
    }
}

.mobile-menu-toggle {
    height: 25px;
    width: 25px;
    position: absolute;
    right: 2vh;
}

.mobile-menu-toggle:after,
.mobile-menu-toggle:before,
.mobile-menu-toggle span {
    content: "";
    background: #212121;
    width: 70%;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.25s ease-in;
}

.mobile-menu-toggle.active:after {
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
}

.mobile-menu-toggle.active:before {
    transform: translate(-50%, -50%) rotate(-45deg);
    bottom: 0%;
    top: 50%;
}

.mobile-menu-toggle span {
    transform: translate(-50%, -50%);
    top: 50%;
    opacity: 1;
}

.mobile-menu-toggle.active span {
    opacity: 0;
}

.mobile-menu-toggle:after {
    top: 20%;
}

.mobile-menu-toggle:before {
    top: 70%;
}

@media only screen and (min-width: 600px) {
    .mobile-menu-toggle {
        display: none;
    }
}

nav.nav-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

@media only screen and (max-width: 600px) {
    nav.nav-primary {
        left: 100%;
        position: fixed;
        width: 40vw;
        top: var(--xp-header-height);
        height: calc(100vh - var(--xp-header-height));
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-end;
        align-content: space-around;
        background-color: #bdbdbd;
        border-top: 1px solid #212121;
        transition: right 0.5s ease-in, left 0.5s ease-in;
        z-index: 1;
    }

    nav.nav-primary.active {
        left: calc(100vw - 40vw);
    }

    nav.nav-primary:before {
        content: "";
        background: #21212160;
        width: calc(100vw - 40vw);
        position: fixed;
        left: 0;
        height: 100%;
        top: var(--xp-header-height);
        opacity: 0;
        z-index: 1;
        transition: opacity 0.5s ease-in;
    }

    nav.nav-primary.active:before {
        opacity: 1;
    }
}

nav.nav-primary .nav a {
    font-family: tstar;
}

nav.nav-primary .nav>li>ul.sub-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

nav.nav-primary .nav>li>ul.sub-menu>li {
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

nav.nav-primary .nav>li>ul.sub-menu:before {
    height: 15px;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    top: -12px;
    left: 0
}

nav.nav-primary .nav>li:hover>ul.sub-menu {
    visibility: visible;
    opacity: 1;
    /*
    border-style: solid;
    border-color: #000;
    border-width: 2px;
    */
    background-color: #212121;
    margin-top: 10px;
    padding: 5px 25px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

nav.nav-primary .nav {
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width: 600px) {
    nav.nav-primary .nav {
        flex-direction: column;
        padding: 0;
    }
}

header nav.nav-primary>.menu-navigation-container {
    padding-top: 3px
}

nav.nav-primary .nav>li {
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: .2em
}


@media only screen and (max-width: 600px) {
    nav.nav-primary .nav>li {
        margin-top: 10px;
    }
}

nav.nav-primary .nav>li>a:after,
nav.nav-primary .nav>li>ul.sub-menu>li>a:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 1px;
    background: #e0e0e0;
    transition: width .3s ease 0s, left .3s ease 0s;
    width: 0;
    left: 100%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 20%), 0 6px 20px 0 rgba(255, 255, 255, 19%);
}

nav.nav-primary .nav>li:hover>a:hover::after,
nav.nav-primary .nav>li>ul.sub-menu:hover>li:hover>a:hover::after {
    width: 100%;
    left: 0
}

nav.nav-primary .nav>li>ul.sub-menu>li>a {
    position: relative;
    left: 0;
    transition: left .1s ease-in;
    font-size: 10px;
    color: #bdbdbd;
}

nav.nav-primary .nav>li>ul.sub-menu>li>a:hover {
    left: 5px;
    color: #e0e0e0;
}